<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.madarsoft_task">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_madar_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".usersPreview.UsersPreviewActivity"
            android:parentActivityName=".datacollection.DataCollectionActivity"></activity>
        <activity android:name=".signleuserpreview.SingleUserPreviewActivity" />
        <activity android:name=".datacollection.DataCollectionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>